In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.neighbors import NearestNeighbors

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data1=pd.read_csv(r'E:\Dataset\movies.csv',sep=',')

In [5]:
data1.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
data2=pd.read_csv(r'E:\Dataset\ratings.csv',sep=',')

In [7]:
data2.head(5)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [8]:
data2.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [14]:
movie_count = data2[['movieId', 'rating']].count()
movie_count.head()

movieId    25000095
rating     25000095
dtype: int64

In [15]:
data1.isnull().any()

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

In [16]:
data2.isnull().any()

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

In [22]:
movie_count = data2[['movieId', 'rating']].groupby('movieId').count()
movie_count.head()

         rating
movieId
1         57309
2         24228
3         11804
4          2523
5         11714

In [24]:
df= data1.merge(data2, on = 'movieId', how = 'inner')
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5,1141415820
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1439472215
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0,1573944252
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,858625949
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,890492517

In [27]:
del df['timestamp']
del df['title']
del df['genres']

In [28]:
df.head()

   movieId  userId  rating
0        1       2     3.5
1        1       3     4.0
2        1       4     3.0
3        1       5     4.0
4        1       8     4.0

In [29]:
df.isnull().any()

movieId    False
userId     False
rating     False
dtype: bool

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(['rating', 'movieId'],axis=1), 
                                                    df['rating'], test_size=0.20, 
                                                    random_state=8)

In [51]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [47]:
accuracy = model.score(X_test, y_test)
print(accuracy*100,'%')

0.0002852856089363698 %

In [11]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Note: you may need to restart the kernel to use updated packages.

In [13]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

C:\Users\Shri\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [14]:
tag=pd.read_csv(r'E:\Dataset\tags.csv',sep=',')

In [16]:
data1['year']= data1.title.str.extract('(\(\d\d\d\d\)',expand=False)
#removing the parentheses
data1['year']=data1.year.str.extract('(\d\d\d\d)',expand=False)
data1.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [18]:
#removing the years from the title column
data1['title']= data1.title.str.replace('(\(\d\d\d\d\))','')
#Applying the strip funcction to get rid of any ending whitespace characters that may have appeared
data1['title']=data1['title'].str.strip()
data1.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [19]:
data2.groupby('movieId').rating.mean()
data2.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [22]:
df=data1.join(data2,lsuffix='N',rsuffix='K')
df.head()

,movieIdN,title,genres,year,userId,movieIdK,rating,timestamp
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,1,296,5.0,1147880044
1,2,Jumanji,Adventure|Children|Fantasy,1995,1,306,3.5,1147868817
2,3,Grumpier Old Men,Comedy|Romance,1995,1,307,5.0,1147868828
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995,1,665,5.0,1147878820
4,5,Father of the Bride Part II,Comedy,1995,1,899,3.5,1147868510

In [23]:
a = 'ab'
b = 'bcd'
#for merge ans will be 'abcd'
print(a+b)#join

abbcd

In [24]:
df=df.drop(['movieIdK','genres','year','timestamp'],axis=1)

In [25]:
#there will be lot of nan value in our dataframe as it is highly unlikely that ours users
movie_users=df.pivot(index='movieIdN',columns='userId',values='rating').fillna(0)
matrix_movies_users=csr_matrix(movie_users.values)
print(matrix_movies_users)

  (0, 0)	5.0
  (1, 0)	3.5
  (2, 0)	5.0
  (3, 0)	5.0
  (4, 0)	3.5
  (5, 0)	4.0
  (6, 0)	3.5
  (7, 0)	3.5
  (8, 0)	5.0
  (9, 0)	4.0
  (10, 0)	3.5
  (11, 0)	4.0
  (12, 0)	2.5
  (13, 0)	2.5
  (14, 0)	2.5
  (15, 0)	3.5
  (16, 0)	4.5
  (17, 0)	4.0
  (18, 0)	5.0
  (19, 0)	5.0
  (20, 0)	4.5
  (21, 0)	4.0
  (22, 0)	5.0
  (23, 0)	5.0
  (24, 0)	5.0
  :	:
  (62398, 493)	3.0
  (62399, 493)	3.5
  (62400, 493)	4.0
  (62401, 493)	3.5
  (62402, 493)	3.5
  (62403, 493)	2.5
  (62404, 493)	3.0
  (62405, 493)	3.5
  (62406, 493)	3.0
  (62407, 493)	0.5
  (62408, 493)	2.5
  (62409, 493)	2.0
  (62410, 493)	1.5
  (62411, 493)	3.5
  (62412, 493)	3.5
  (62413, 493)	3.0
  (62414, 493)	3.5
  (62415, 493)	3.5
  (62416, 493)	3.0
  (62417, 493)	3.5
  (62418, 493)	3.5
  (62419, 493)	3.0
  (62420, 493)	3.0
  (62421, 493)	3.0
  (62422, 493)	4.0

In [26]:
movie_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,485,486,487,488,489,490,491,492,493,494
movieIdN,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
#knn with bruteforce algorithm
knn=NearestNeighbors(metric='cosine',algorithm='brute',n_neighbors=10)

In [29]:
knn.fit(matrix_movies_users)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=None, n_neighbors=10, p=2, radius=1.0)

In [30]:
def recommender(movie_name,data,model,n_recommendations):
    model.fit(data)
    idx=process.extractOne(movie_name,df['title'])[2]
    print('Movie Selected:',df['title'][idx],'Index:',idx)
    print('Searching for recommendations.....')
    distance, indices=model.kneighbors(data[idx],n_neighbors=n_recommendations)
    for i in indices:
        print(df['title'][i].where(i!=idx))

In [31]:
recommender('Father of the Bride',matrix_movies_users,knn,5)

Movie Selected: Father of the Bride Index: 913
Searching for recommendations.....
1009         Alice in Wonderland
1007               Pete's Dragon
1010      Fox and the Hound, The
1012         Sound of Music, The
1008    Bedknobs and Broomsticks
Name: title, dtype: object